/* media queries  ( for home section ) */
@media (max-width :466px) {



    #Home {

        background-image: url(mobilebanner.jpg);

        height: 880px;

    }




    .logo {

        height: 60%;
        width: 25%;
        background-image: url(Vlogo.jpg);

        position: relative;
        left: 10px;
    }



    .nav-options {

        width: 70%;

        justify-content: space-around;

        position: relative;
        left: -30px
    }



    .resume-box {
        border: 1px solid transparent;
        width: 40px;
        height: 40px;
        padding-right: 8px;



    }

    .resume-box p {
        display: none;
    }

    .home-profile {
        
    top: 0px;
    }
    
    .home-hero {
        margin-top: 20px;
    }


    .hero-1{
        top:40px;
    }

    .hero-2 {

        height: 500px;
        width: 90%;
top:40px;
    }




    .scroll-down-icon1 {

        top: -40px;

    }



    /* skill section  */
    #Skills {
        margin-top: 80px;
        height: 1100px;
    }


    .skills-title {
       
        bottom: 70px;

    }


    .skill-section {
        height: 85%;
        position: relative;
        top: -60px;
    }

    .skill-box {
        /* border: 1px solid red; */


        height: 130px;

        margin-bottom: 15px;
        padding-top: 10px;

    }


    /* contact section css  */

    #Contact {

        height: 850px;

        /* border: 2px solid red;  */
        background-image: url(bg12.jpg);
        background-size: cover;
        position: relative;
        top: 00px;

    }



    .contact-title {
        position: relative;
        top: 60px;
    }


    .message-me-box {
        /* border:2px solid red; */
        height: 500px;
        width: 90%;

        display: flex;
        flex-wrap: wrap;
    }


    .find_me {
        border-bottom: 1px solid white;
        height: 30%;
        width: 100%;
        text-align: center;
        position: relative;
        top: -65px;


    }

    .find_me h1 {
        display: none;
    }

    .send-mail {
        /* border: 2px solid red; */
        width: 100%;

        height: 400px;

    }

    .send-mail-inp1 {
        width: 100%;

        top: -40px;
    }

    .send-mail-inp2 {
        width: 100%;

        left: 0px;
    }

    .send-mail-text {
        height: 100px;
        top: 40px;
    }

    .send-mail-button {
        height: 35px;
        width: 30%;
        top: 45px;
        left: 115px;

    }




    .contact-icons {
        width: 90%;
        top: 50px;
    }



    .contact-top-pointer {
        top: 50px;
    }

    .contact-footer {
        padding-top: 10px;
        position: relative;
        top: 20px;
        text-align: center;
    }



    .scroll-down-icon3 {
        top: 15px;
    }


    .Project {
        height: 1400px;
    }



    .project-title {
        position: relative;
        bottom: 40px;
    }




    .project-boxes {

        height: 90%;
        width: 90%;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);

        bottom: 70px;
        
    }

    .project-box {
        height: 150px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .project-box-text span {
        font-size: 2rem;
    }


    /* .project-box:hover {
        .project-box-text {
            font-size: 2rem;
        }
    } */


    .project-box-text {

        height: 100%;
        width: 100%;
    
        /* display:hidden; */
        display: none;
    }
    
    .project-box:hover {
        .project-box-text {
            background-color: rgba(32, 32, 32, 0.692);
            opacity: 0.25;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            font-weight: 700;
            color: rgb(0, 0, 0);
    
        }
    
    
    
    }



    .calc {
        width: 87.7%;
    }


    .RJ-API {

        width: 91%;
    }






    /* end of media queries  */
}